<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-primary" ng-model="personalSkillsCollapsed">

          <div class="panel-heading" ng-click="personalSkillsCollapsed=!personalSkillsCollapsed">
            <span class="panel-title panel_title">Personal Skills</span>
            <div class="pull-right">
              <i class="expand fa fa-plus-circle fa-2x" ng-show="personalSkillsCollapsed"></i>
              <i class="expand fa fa-minus-circle fa-2x" ng-show="!personalSkillsCollapsed"></i>
            </div>
          </div>

          <div class="panel-body" ng-show="!personalSkillsCollapsed" ng-switch on="personalSkillsPanelStatus">
  <!-- below is the code to view the professional skills -->
            <div ng-switch-when="show">
              <div class="form-group well">
                <div class="row">
                  <div class='panel_body'>

                    <div class="col-md-2 panel_text">
                      Personal Skill:
                    </div>
                    <div class="col-md-10">
                      <ul ng-repeat="skill in personalSkills">
                        <li>{{skill.skill_name}}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
                
            <div class="row">
              <div class="pull-right">
                <div class="form-group col-md-12" class="pull-right" >
                  <div class="form-group" ng-show="personalSkillsPanelStatus='show'">
                    <button type=" submit "="=" " "="" class='btn btn-lg btn-primary' style='width: 100%' ng-click="editPersonalSkillsPanel()">Edit</button>
                  </div>
                </div>
              </div>
            </div><!-- end of row -->
          </div><!-- ng-switch-when="show" -->
              
  <!-- below is the code to edit the professional skills  -->

          <div ng-switch-when="edit">
            <div class="well">
              <div class="row">
                <div class="form-group col-md-12" id="double_column">
                <label class="control-label">Personal Skills:</label> 
                  <div ng-repeat="skill in personalSkills">
                    <table>
                      <tr>
                        <td>
                          <input class="form-control" ng-model="skill.skill_name">
                        </td>
                        <td class="delete_circle">
                          <label class="remove" ng-click="removePersonalSkillForm(skill)" ng-if="skill.skill_name"><i class="fa fa-2x fa-times-circle-o"></i></label>
                        </td>
                      </tr>
                    </table>
                  </div> <!-- end of ng-repeat of personalSkills -->
                </div>
              </div>
              <div class="row">
                <div class="panel_buttons col-md-4">
                  <button class='btn-lg btn-success' style='width: 75%'>
                    <label class="control-label" ng-click="personalSkills.push({details: [{}]})">Add Another Skill</label>
                  </button>
                </div>
                <div class="panel_buttons col-md-4">
                  <button type=" submit "="=" " "="" class='btn-lg btn-danger' style='width: 75%' ng-click="resetPersonalSkillsPanel()">Cancel</button>
                </div>
                <div class="panel_buttons col-md-4" id="double_column">
                  <button type=" submit "="=" " "="" class='btn-lg btn-success' style='width: 75%' ng-click="updatePersonalSkills(personalSkills)">Update</button>
                </div>
              </div><!-- end of row -->
          </div><!-- end ng-switch-when="edit" -->
        </div><!-- end of panel-body ng-switch on="professionalSkillPanelStatus" -->

        </div><!-- end of panel panel-primary -->
      </div><!-- end of first col-md-12 -->
    </div><!-- end of first row -->
  </div><!-- end of container -->
</div><!-- end of section -->