<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="background-color: #f2f2f2;">
    <section style="width: 500px; heigth: 350px; background-color: #ffffff; margin: 50 auto; border: 1px solid #000000; padding-left: 10px;">
      <h2>Welcome to Your Resume</h2>
      <p>
        You have successfully signed up!,<br>
        your username is: <%= @user.email %>.<br>
      </p>
      <p>
        To login to the site, just follow this link: <%= @url %>.
      </p>
      <p>Thanks for joining and have a great day!</p>
    </section><!-- end of body section -->
  </body>
</html>