<div>
	<div ng-controller="resumeCtrl">
		
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">Professional Skills</h3>
							</div>
							<div class="panel-body">
								<form role="form" method="get" action="<%= new_personal_skill_path %>">
									<p>Example: Ruby</p>
									<div ng-repeat="skill in professionalSkills">
										<div class="row">
											<div class="form-group col-md-4">
												<input class="form-control" type="text" ng-click="anotherProfessionalSkillForm()" ng-model="skill.skillKey">
											</div>
											<div ng-if="skill.skillKey" class="form-group col-md-4">
												<label class="remove" ng-click="removeProfessionalSkillForm(skill)"><i class="fa fa-2x fa-times-circle-o"></i></label>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4"></div>
										<div class="col-md-4"></div>
										<div class="form-group col-md-4" id="double_column">
											<button type=" submit "="=" " "="" class='btn-lg btn-success' style='width: 75%' ng-click="addNewProfessionalSkills(professionalSkills)">Submit</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>