<div id="resume-two-container">
  <div id="resume-two-page-body" class="row">

      <div id='resume-two-left-col' class="col-lg-3 col-md-3 col-sm-3">
        <div class="users-picture">
          PICTURE
        </div>
        <div class="resume-two-profile-title">
          PROFILE
        </div>
        <div class="resume-two-leftCol-title">
          NAME
        </div>
        <div class="resume-two-leftCol-value">
          ACUTAL NAME
        </div>
        <div class="resume-two-leftCol-title">
          DATE OF BIRTH
        </div>
        <div class="resume-two-leftCol-value">
          BIRTH DAY
        </div>
        <div class="resume-two-leftCol-title">
          E-MAIL
        </div>
        <div class="resume-two-leftCol-value">
          EMAIL ADDRESS
        </div>
        <div class="resume-two-leftCol-title">
          WEBSITE
        </div>
        <div class="resume-two-leftCol-value">
          WEBSITE ADDRESS
        </div>

        <div class="resume-two-profile-title">
          SOCIAL
        </div>
        
      </div>
      <div id="resume-two-right-col" class="col-lg-9 col-md-9 col-sm-9">
        <div class="resume-two-experience">
          <div class='resume-two-panel-title'>EXPERIENCE</div>
        </div>
        <div class="resume-two-education">
          <div class='resume-two-panel-title'>EDUCATION</div>
        </div>
        <div class="resume-two-professional-skills">
          <div class='resume-two-panel-title'>PROFESSIONAL SKILLS</div>
        </div>

      </div>

  </div><!-- End of page body -->
</div><!-- End of page container -->