// This file contains all colors for this app (shades of black)
$mainColor: #002f2f;
$contrastColor: #ffcc33;
$contrastText: #ffcc33;
$darkBackgroundText: #ffffff;
$josefinSlab: 'Josefin Slab', serif;
$specialElite: 'Special Elite', cursive;
$jacquesFrancoisShadow: 'Jacques Francois Shadow', cursive;
$generalText: #ffffff;

// button colors of the app if custom, otherwise use bootstrap
// login in button
$button: #ffcc33;
$buttonHover: #ffcc33;