$mainColor: #2ab7ca;
$mainColorHalf: #fed766;
$mainBackGroundColor: #e6e6ea;
$contrastColor: #fed766;
$contrastText: #fe4a49;
$boldColor: #fe4a49;
$darkBackgroundText: #f4f4f8;
$generalText: #ffffff;
$titleText: #2d1e2f;
$borderBlack: #000000;