$mainColor: #88d498;
$mainColorHalf: #1a936f;
$mainBackGroundColor: #c6dabf;
$contrastColor: #1a936f;
$contrastText: #114b5f;
$boldColor: #f72c25;
$darkBackgroundText: #fff;
$generalText: #fff;
$titleText: #2d1e2f;
$borderBlack: #000000;