$mainColor: #7ac74f;
$mainColorHalf: #a1cf6b;
$mainBackGroundColor: #fff;
$contrastColor: #d5d887;
$contrastText: #e0c879;
$boldColor: #e87461;
$darkBackgroundText: #ffffff;
$generalText: #ffffff;
$borderBlack: #000000;
$titleText: #1a936f;