$mainColor: #a9e5bb;
$mainColorHalf: #2d1e2f;
$mainBackGroundColor: #fcf6b1;
$contrastColor: #f7b32b;
$contrastText: #f72c25;
$boldColor: #f72c25;
$darkBackgroundText: #ffffff;
$generalText: #ffffff;
$titleText: #2d1e2f;
$borderBlack: #000000;