$mainColor: #114b5f;
$mainColorHalf: #1a936f;
$mainBackGroundColor: #e7edef;
$contrastColor: #1a936f;
$contrastText: #1a936f;
$boldColor: #f72c25;
$darkBackgroundText: #fff;
$generalText: #fff;
$titleText: #1a936f;
$borderBlack: #000000;
$modalHeader: #114b5f;
$modalFooter: #dfdfdf;
$menuBackgroundColor: #114b5f;
$menuTextColor: #1a936f;

// background-color: rgba(17, 76, 95, 0.5); this was for the menu background. i like this however bc I have transparency the colors from the tab to the menu body look different.
