$mainColor: #086788;
$mainColorHalf: #06aed5;
$mainBackGroundColor: #FFFCF5;
$contrastColor: #f0c808;
$contrastText: #f0c808;
$boldColor: #dd1c1a;
$darkBackgroundText: #ffffff;
$generalText: #ffffff;
$borderBlack: #000000;
$titleText: #ff0dff;