$mainColor: #9fa8a3;
$mainColorHalf: #f5f6f5;
$mainBackGroundColor: #fff;
$contrastColor: #e3e0cf;
$contrastText: #935347;
$boldColor: #dd1c1a;
$titleText: #1a936f;
$darkBackgroundText: #ffffff;
$generalText: #ffffff;
$borderBlack: #000000;