<div class="">
  <div class="row">
  <% if !current_user %>
    <div class="row landing_page_arrow_box">
      <div class="col-md-6">
        <sapn class='landing_page_arrow'><%= image_tag "arrow.png", width: '150', height: '150', alt: 'Arrow' %></sapn><br>
      </div>
      <div class="col-md-6">
        <span class='landing_page_arrow_text'>click</span>
      </div>
    </div>
  <% end %>
    <%= image_tag("splatQ.png", :alt => "Leave User Feedback", height: '100', width: '100', id: "userFeedBack") %>
    <!-- Modal -->
    <div class="modal fade user_feed_back" id="myModal2" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <% if current_user %>
          <%= render '../views/feedbacks/user_feed_back' %>
        <% else %>
          <%= render '../views/feedbacks/user_feed_back_example' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
   
<script>
$(document).ready(function(){
    $("#userFeedBack").click(function(){
        $("#myModal2").modal({backdrop: false});
    });
});
</script>